* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: dimgray;
}
.quiz{
    background: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;



}
.quiz h1 { 
    font-size: 30px;
    font-weight: 500;
    padding-bottom:  5px;
    color: #000;
    border-bottom: 1px dashed gray;
}

.quizBox h2 { 
    font-size: 20px;
    color: #000;
    font-weight: 350;
    padding: 20px 0;
    padding-left: 5px;
}

.answerBtn {
    background: #fff;
    color: #221;
    font-weight: 400;
    font-size: 18px;
    width:100%;
    border-radius:30px;
    border: 1px solid #221;
    transition: all .2s;
    text-align: left;
    padding: 10px;
    margin: 10px 5px;
}
.answerBtn:hover {
    background: #221;
    color: #fff;
    cursor: pointer;
}

.primaryBtn {

    background: cyan;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    width:100%;
    border-radius:30px;
    border: 2px solid #221;
    transition: all .2s;
    text-align: center;
    padding: 10px;
    margin: 10px 5px;
}

.primaryBtn:hover { 
    background: turquoise;
    cursor: pointer;
    
    
}
.correctIncorrect h2 {
    padding: 5px 5px;
    border-top: 1px dashed #221;;

}
.featuresContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   


.timer{
    width: 15%;
    background-color: #221;
    border:3px solid #fff;
    margin: 5px 5px;
    padding: 5px 5px;
    padding-left: 10px;
    text-align: left;
    border-radius: 50px;
    color: #fff;
    display: flex;
}



.timer h2 {
    
    font-size:10px;
    font-weight:300px;
}

.viewHighScores {
    width: 15%;
    background-color: #221;
    border:3px solid #fff;
    margin: 5px 5px;
    padding: 5px 5px;
    padding-left: 10px;
    text-align: left;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: ;
}

.viewHighScores a {
    color:#fff;
    text-decoration: none;
    align-self: center;
    width: 40%;
    font-size:10px;
    font-weight:300px;
}

#question h2 {
    color: #221;
}