* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: dimgray;
}
.quiz{
    background: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;



}
.quiz h1 { 
    font-size: 30px;
    font-weight: 500;
    padding-bottom:  5px;
    color: #000;
    border-bottom: 1px dashed gray;
}

.quizBox h2 { 
    font-size: 20px;
    color: #000;
    font-weight: 350;
    padding: 20px 0;
    padding-left: 5px;
}

.btn {
    background: #fff;
    color: #221;
    font-weight: 400;
    font-size: 18px;
    width:100%;
    border-radius:7px
    border 1px solid #221;
    transition: all .2s;
    text-align: left;
    padding: 10px;
    margin: 10px 5px;
}
.btn:hover {
    background: #221;
    color: #fff;
}
.correctIncorrect h2 {
    padding: 5px 5px;
    border-top: 1px dashed #221;;

}

.timer{

}

.quizBox{

}

.question {

}

.quizbuttons {

}

.choice1 {

}

.choice2 {

}

.choiceCorrect {

}

.choice4 {

}

.correctIncorrect {

}

.highScoresLink {

}

.Over {

}

.submitContainer {

}

.score {

}

.initials {

}

.submit {

}

.highscoresPage{

}

#highScore {
    
}